<div class="header-main">

    <div class="header-section1">
        <button mat-icon-button aria-label="mainmenu button" matTooltip="mainmenu" (click)="toggledrawer()">
            <mat-icon svgIcon="mainmenu-icon" aria-hidden="false" aria-label="add mainmenu icon" style="height: 40px; width: 40px;" ></mat-icon>
        </button>
        <img src="../../../assets/icons8-notes-64.png" alt="img">
    </div>

    <div class="header-section2">
       <input type="search" placeholder="Search.." [(ngModel)]="searchQuery" (input)="handleSearchQuery()">
    </div>

    <div class="header-section3">
        <button mat-icon-button aria-label="mainmenu button" matTooltip="mainmenu">
            <mat-icon svgIcon="refresh-icon" aria-hidden="false" aria-label="add mainmenu icon" style="height: 40px; width: 40px;"></mat-icon>
        </button>
        <button mat-icon-button aria-label="mainmenu button" matTooltip="mainmenu">
            <mat-icon svgIcon="list-icon" aria-hidden="false" aria-label="add mainmenu icon" style="height: 40px; width: 40px;"></mat-icon>
        </button>
        <button mat-icon-button aria-label="mainmenu button" matTooltip="mainmenu">
            <mat-icon svgIcon="settings-icon" aria-hidden="false" aria-label="add mainmenu icon" style="height: 40px; width: 40px;"></mat-icon>
        </button>
    </div>

    <div class="header-section4">
        <button mat-icon-button aria-label="mainmenu button" matTooltip="mainmenu">
            <mat-icon svgIcon="othermenu-icon" aria-hidden="false" aria-label="add mainmenu icon" style="height: 40px; width: 40px;"></mat-icon>
        </button>
     
        <button mat-icon-button aria-label="mainmenu button" matTooltip="mainmenu"  [matMenuTriggerFor]="moreMenu">
            <!-- <mat-icon svgIcon="image-icon" aria-hidden="false" aria-label="add mainmenu icon" style="height: 40px; width: 40px;"></mat-icon> -->
            <img src="../../../assets/v logo.png" alt="Logo" style="height: 40px; width: 40px;" />
            <!-- <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="more options icon"
            style="height: 40px; width: 40px;"></mat-icon> -->
        </button>
        <mat-menu #moreMenu="matMenu">
            <!-- <mat-icon svgIcon="image-icon" aria-hidden="false" aria-label="add mainmenu icon" style="height: 40px; width: 40px;"></mat-icon> -->
            <div style="display: flex;">
            <img src="../../../assets/v logo.png" alt="Logo" style="height: 40px; width: 40px;" />
            <button mat-menu-item>{{email}}</button>
            </div>
            <button mat-menu-item (click)="handleLogout('logout')">Logout</button>
            <!-- <button mat-menu-item>Email:{{email}}</button> -->
            <!-- <button mat-menu-item>others</button> -->
        </mat-menu>
    </div>
</div>