.outer-add{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.note-add{
    border: 1px solid black;
    height: max-content;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 15px;
    border-radius: 10px;
}


.note-add-button{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.note{
    height: max-content;
    width: max-content;
    border: 1px solid black;
    border-radius: 10px;
}

.notechild{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: max-content;
    width: 800px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    border-radius: 10px;
}

.notechild input{
    border: 0px;
    font-size: 25px;
    padding: 20px;
    border-radius: 10px;
}

.buttons{
    display: flex;  
    justify-content: space-between;
    width: 750px;

}
.buttons1{
    display: flex;  
    justify-content: space-between;
    width: 500px;
}
.close-button{
    margin-top: 15px;
}








