<div class="outer-add">
<div class="note-add" (click)="handleAddNote('toggle')"*ngIf="!expandAddNote else expandNote">
<span>Take a note...</span>
<div class="note-add-button">
<button mat-icon-button aria-label="Brush button" matTooltip="Brush">
    <mat-icon svgIcon="brush-icon" aria-hidden="false" aria-label="add Brush icon"style="height: 40px; width: 40px;"></mat-icon>
</button>
<button mat-icon-button aria-label="list button" matTooltip="List">
    <mat-icon svgIcon="list-view-icon" aria-hidden="false" aria-label="add list icon"style="height: 40px; width: 40px;"></mat-icon>
</button>
<button mat-icon-button aria-label="img button" matTooltip="Add Image">
    <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="add image icon"style="height: 40px; width: 40px;"></mat-icon>
</button>
</div>
</div>
</div>

<ng-template #expandNote>
<div class="note">
    <div class="notechild">
    <input [(ngModel)]="title" class="title" type="text" placeholder="Title">
    <input [(ngModel)]="description" class="desc" type="text" placeholder="Description">
    <div class="buttons">
        <div class="buttons1">
        <button mat-icon-button aria-label="reminder button" matTooltip="remainder">
            <mat-icon svgIcon="remainder-icon" aria-hidden="false" aria-label="add remainder icon" style="height: 40px; width: 40px;"></mat-icon>
        </button>
        <button mat-icon-button aria-label="collaborator button" matTooltip="collaborator">
            <mat-icon svgIcon="collaborator-icon" aria-hidden="false" aria-label="add collaborator icon"style="height: 40px; width: 40px;"></mat-icon>
        </button>
        <button mat-icon-button aria-label="colorpallete button" matTooltip="colorpallete">
            <mat-icon svgIcon="colorpallete-icon" aria-hidden="false" aria-label="add colorpallete icon"style="height: 40px; width: 40px;"></mat-icon>
        </button>
        <button mat-icon-button aria-label="img button" matTooltip="img">
            <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="add img icon"style="height: 40px; width: 40px;"></mat-icon>
        </button>  
        <button mat-icon-button aria-label="archive button" matTooltip="archive">
            <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="add archive icon"style="height: 40px; width: 40px;"></mat-icon>
        </button>
        <button mat-icon-button aria-label="more button" matTooltip="more">
            <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="add more icon"style="height: 40px; width: 40px;"></mat-icon>
        </button>
        <button mat-icon-button aria-label="undo button" matTooltip="undo">
            <mat-icon svgIcon="undo-icon" aria-hidden="false" aria-label="add undo icon"style="height: 40px; width: 40px;"></mat-icon>
        </button>
        <button mat-icon-button aria-label="redo button" matTooltip="redo">
            <mat-icon svgIcon="redo-icon" aria-hidden="false" aria-label="add redo icon"style="height: 40px; width: 40px;"></mat-icon>
        </button>
    </div>
        <div class="close-button">
            <button mat-button (click)="handleAddNote('add')" style="font-size: large;">Close</button>
        </div>
</div>
    </div>
</div>
</ng-template>

