::ng-deep .app-dashboard-cnt {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.icons{
    display: flex;
    // flex-direction: column;
    width: max-content;
    height: 400px;
    justify-content: space-between;
}
.drawer{
    // position: relative;
    // z-index: 1;
    display: flex;
    height: 100% !important;
    width: 100%; 
    // overflow: auto;
}
.outer{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-evenly;
}

span{
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 10px;
    padding-top: 15px;
    padding-left:20px ;

}


.dashboard-icons-outlet-cnt {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.dashboard-nav-icons-cnt {
    display: flex;
    flex-direction: column;
    width: 110px;
    align-items: center;
    min-height: 100vh;
    // box-sizing: content-box;
}
.dashboard-outlet-cnt {
    width: calc(100% - 110px);
    min-height: 100vh;
}

@media screen and (min-width: 300px) and (max-width: 550px) {
    .dashboard-nav-icons-cnt { width: 80px; }
}