<app-header-container (handledrawer)="handleDrawerState($event)"></app-header-container>

<mat-drawer-container class="drawer" [hasBackdrop]="false">

    <mat-drawer #drawer [mode]="'over'" [opened]="drawerState">
        <div class="outer">
            <div style="display: flex;" (click)="handleNavigation('notes')">
                <button mat-icon-button aria-label="note button" matTooltip="note" >
                    <mat-icon svgIcon="note-icon" aria-hidden="false" aria-label="add note icon"
                        style="height: 40px; width: 40px;"></mat-icon>
                </button>
                <span>Note</span>
            </div>
            <div style="display: flex;">
                <button mat-icon-button aria-label="reminder button" matTooltip="reminder">
                    <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="add reminder icon"
                        style="height: 40px; width: 40px;"></mat-icon>
                </button>
                <span>Reminder</span>
            </div>
            <div style="display: flex;">
                <button mat-icon-button aria-label="edit button" matTooltip="edit">
                    <mat-icon svgIcon="edit-icon" aria-hidden="false" aria-label="add edit icon"
                        style="height: 40px; width: 40px;"></mat-icon>
                </button>
                <span>Edit</span>
            </div>
            <div style="display: flex;" (click)="handleNavigation('archive')">
                <button mat-icon-button aria-label="archive button" matTooltip="archive"
                    >
                    <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="add archive icon"
                        style="height: 40px; width: 40px;"></mat-icon>
                </button>
                <span>Archive</span>
            </div>
            <div style="display: flex;" (click)="handleNavigation('trash')">
                <button mat-icon-button aria-label="trash button" matTooltip="trash"
                    >
                    <mat-icon svgIcon="trash-icon" aria-hidden="false" aria-label="add trash icon"
                        style="height: 40px; width: 40px;"></mat-icon>
                </button>
                <span>Trash</span>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="drawer">
        <div class="dashboard-icons-outlet-cnt">

            <div class="dashboard-nav-icons-cnt">
                <button mat-icon-button aria-label="note button" matTooltip="note" (click)="handleNavigation('notes')">
                    <mat-icon svgIcon="note-icon" aria-hidden="false" aria-label="add note icon"
                        style="height: 40px; width: 40px;"></mat-icon>
                </button>
                <button mat-icon-button aria-label="reminder button" matTooltip="reminder">
                    <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="add reminder icon"
                        style="height: 40px; width: 40px;"></mat-icon>
                </button>
                <button mat-icon-button aria-label="edit button" matTooltip="edit">
                    <mat-icon svgIcon="edit-icon" aria-hidden="false" aria-label="add edit icon"
                        style="height: 40px; width: 40px;"></mat-icon>
                </button>
                <button mat-icon-button aria-label="archive button" matTooltip="archive"
                    (click)="handleNavigation('archive')">
                    <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="add archive icon"
                        style="height: 40px; width: 40px;"></mat-icon>
                </button>
                <button mat-icon-button aria-label="trash button" matTooltip="trash"
                    (click)="handleNavigation('trash')">
                    <mat-icon svgIcon="trash-icon" aria-hidden="false" aria-label="add trash icon"  style="height: 40px; width: 40px;"></mat-icon>
                </button>
            </div>
            <div class="dashboard-outlet-cnt">
                <router-outlet></router-outlet>

            </div>
        </div>
    </mat-drawer-content>

</mat-drawer-container>